
h1 span {
    font-size: 0.8em;
}

h1 {
    color: #4b2e83;
}

div.logobanner {
    height: 50px;
    width: 100%;
    display: table;
}

div.logobanner div {
    display: table-cell;
    vertical-align: middle;
}

div.misl-logo {
    width: 100px;
    height: 50px;
    float: right;
}
img.misl-logo {
    height: 50px;
    display: block;
    float: right;
}

div.uw-logo {
    width: 300px;
    display: inline;
}
img.uw-logo {
    height: 32px;
    display: block;
}

.electrode-grid-wrapper {
    position: relative;
    display: inline-block;
    transition: transform 150ms ease-in-out;
    //padding: 10px;
    width: fit-content;
}
.electrode-grid-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.electrode-grid-img {
    display: block;
    max-width: 100%;
    min-width: 400px;
    min-height: 400px;
    height: auto;
}

.toolbar {
    margin: 5px;
}
.electrode {
    fill: rgba(212, 175, 55, 0.3);
}
.electrode.active {
    fill: rgba(255, 0, 0, 0.3) !important;
}
.electrode.hover {
    fill: black !important;
}

button.brushsize {
    font-size: larger;
}
input#brushsize {
    width: 4em;
    font-size: larger;
}
