#electrode-grid-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.electrode-grid-img {
    display: block;
    max-width: 100%;
}

.electrode-grid-wrapper {
    position: relative;
    display: inline-block;
    transition: transform 150ms ease-in-out;
}

.electrode {
    fill: rgba(212, 175, 55, 0.3);
}
.electrode.active {
    stroke: rgba(255, 0, 0, 0.3);
    fill: rgba(255, 0, 0, 0.3);
}

.electrode.hover {
    stroke: rgb(70, 57, 22) !important;
    stroke-width: 7px;
}


button.brushsize {
    font-size: larger;
}
input#brushsize {
    width: 4em;
    font-size: larger;
}


